body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  border-top: solid 2px black;
  font-family: 'Space Grotesk', sans-serif;
  text-align:center;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url("../img/bg_header.jpg");
  background-size: cover;
  color: #E6F3FF;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  
}

a {
  text-decoration: none;
}

div.box-title {
  background-color: #000000e0;
  padding: 10px 40px;
  margin: 18px 22px 32px 22px;
}

.cta {
  background-color: #000000e0;
  color: #E6F3FF;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 8px;
  align-items: center;
}

.cta-light {
  background-color: #E6F3FF;
  color: #11161D;
}

.section-light {
  display: flex;
  background-color: #E6F3FF;
  padding: 32px 40px 50px 40px;
  flex-direction: column;
}

.section-light img {
  margin-top: 15px;
  width: 40px;
  align-self: center;
}

h2 {
  font-size: 26px;
}

.section-dark {
  background-color: #11161D;
  color: #E6F3FF;
  padding: 25px;
  padding-top : 50px;
}

.articles {
  display: flex;
  background-color: #E6F3FF;
  color: #11161D;
  border-radius: 21px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 20px;
}

.section-dark h3 {
  font-size: 25px;
  text-align: left;
}

.section-dark a {
  align-self: flex-end;
  color: #11161D;
  text-decoration: underline;
}

.section-dark img {
  width: 90px;
}

footer {
  background-color: #11161D;
  color: #ffffff4a;
  padding: 20px;
  font-size: 11px;
}